<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-10">creaate</div>
            <form action="/port" method="post">
                <div class="form-group">
                    <label for="inputHoTen">taiKhoan</label>
                    <input type="text" class="form-control" id="inputHoTen" name="TaiKhoan">
                </div>
                <div class="form-group">
                    <label for="inputHoTen">matKhau</label>
                    <input type="text" class="form-control" id="inputHoTen" name="MatKhau">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">quyen</label>
                    <select name="Quyen" id="inputState" class="form-control">
                      <option value="1" selected>admin</option>
                      <option value="2">quanlys</option>
                      <option value="3">banhang</option>
                    </select>
                  </div>
                <div class="form-group">
                    <label for="inputHoTen">manhanvien</label>
                    <input type="text" class="form-control" id="inputHoTen" name="MaNV">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
        </div>
    </div>
</body>
</html>